@import url('bootstrap.min.css');
@font-face {
    font-family: "futura-bk-bt";
    src: url('../fonts/futura-bk-bt-book.eot');
    src: url('../fonts/futura-bk-bt-book.eot?#iefix') format('embedded-opentype'), url('../fonts/futura-bk-bt-book.svg#Futura Bk BT') format('svg'), url('../fonts/futura-bk-bt-book.woff') format('woff'), url('../fonts/futura-bk-bt-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronlight';
    src: url('../fonts/aileron-light-webfont.eot');
    src: url('../fonts/aileron-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aileron-light-webfont.woff') format('woff'), url('../fonts/aileron-light-webfont.ttf') format('truetype'), url('../fonts/aileron-light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    position: relative;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.h1,
h1 {
    font-size: 48px;
}

.btn:active {
    box-shadow: none;
}


/*global css*/

.pos-abs {
    position: absolute;
}

.height80vh {
    height: 75vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-link {
    padding: 0;
}

.dropdown-link >span {
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    padding: 5px 7px;
    margin: 0 10px 0 0;
}

.dropdown-link span.glyphicon-chevron-down {
    display: none;
    top: 3px;
    left: 1px;
}

.inline-flex {
    display: inline-flex;
}

.inline-flex li {
    margin: 0 5px;
}

p,
.normal-text {
    font-family: 'aileronlight';
    font-size: 18px;
    color: #3d464d;
    letter-spacing: .8px;
    line-height: 30px;
    margin: 25px auto;
}

.heading-text {
    font-family: 'futura-bk-bt';
    font-weight: bold;
    color: #333333;
    letter-spacing: 3px;
}

.footer-text {
    color: #999999;
}

.highlighted-button {
    font-family: 'aileronlight';
    font-weight: bold;
    font-size: 18px;
    background-color: #ff5c5c;
    color: #fff;
    border: 1px solid #ff5c5c;
    letter-spacing: 1.5px;
}

.highlighted-button:hover {
    color: #ff5c5c;
    background-color: #fff;
}

.brands-text-color,
.brands-text-color:hover,
.brands-button-hover:hover {
    color: #57a8f9;
}

.brands-back-color {
    background-color: #57a8f9;
}

.brands-border,
.brands-button-hover:hover {
    border: 1px solid #57a8f9;
}

.brands-button:hover {
    background-color: #57a8f9;
    color: #fff;
}

.influencers-text-color,
.influencers-text-color:hover,
.influencers-button-hover:hover {
    color: #50bc82;
}

.influencers-back-color {
    background-color: #50bc82;
}

.influencers-border,
.influencers-button-hover:hover {
    border: 1px solid #50bc82;
}

.influencers-button:hover {
    background-color: #50bc82;
    color: #fff;
}

.button-group-center {
    text-align: center;
}

.button-group-center .btn {
    font-family: 'aileronlight';
    font-weight: bold;
    width: 200px;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 24px;
}

.img-responsive {
    margin: 0 auto;
}

.width-125px {
    width: 125px;
}

.pad10 {
    padding: 10px;
}

.pad0 {
    padding: 0;
}

.text-bold {
    font-weight: bold;
}

.mar-t-m50 {
    margin-top: -50px;
}
.mar-t-50 {
    margin-top: 50px;
}


/*custom*/

header {
    height: 100vh;
}

nav .logo {
    margin: 30px 10px;
    padding: 10px;
}

nav ul {
    float: right;
    display: block;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 30px 10px;
}

nav ul li a {
    font-family: 'aileronlight';
    color: #000;
    font-size: 18px;
    display: block;
    padding: 8px 0px;
    border-radius: 5px;
    width: 110px;
    text-align: center;
}

nav ul li a:hover {
    text-decoration: none;
    color: #000;
}

header,
footer {
    background-color: #fbfbfb;
}

.banner-text {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.banner-text * {
    margin: 20px 0;
}

.banner-image {
    text-align: center;
}

.banner-back {
    background-image: url('../images/banner-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.banner-top-img {
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hidden-section {
    margin: 30px 0;
    border-left: none;
    border-right: none;
    border-width: 2px;
    position: relative;
}

.hidden-section:before,
.hidden-section .container:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #57a8f9;
}

.hidden-section .container:before {
    top: -22px;
    border-bottom: 25px solid #f0f7fe;
}

.hidden-section p {
    font-size: 100%;
}

.hidden-section img {
    margin: 30px auto;
    height: 90px;
}

.brands-border.hidden-section {
    background-color: #f0f7fe;
}

.influencers-border.hidden-section {
    background-color: #e5f4ec;
}

.influencers-border.hidden-section:before {
    border-bottom: 25px solid #50bc82;
}

.influencers-border.hidden-section .container:before {
    border-bottom: 25px solid #e5f4ec;
}

.stories-section {
    padding: 40px 0;
}

.stories-section img {
    height: 110px;
}

.footer {
    padding: 30px 0 0 0;
    margin: 30px 0 0 0;
}

.footer-ul li a {
    font-family: 'aileronlight';
    font-size: 14px;
    color: #999999;
    display: block;
    padding: 5px;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding: 10px;
    color: #999999;
}

.footer-bottom p {
    margin: 0;
}

.chat {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.pos-fixed {
    position: absolute;
    bottom: 300px;
}
